@font-face {
  font-family: calculator;
  src: url(../digital-7/digital-7.ttf);
}

.App {
  width: 260px;
  margin: 5em auto;
}

.display {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.3em;
  width: 260px;
  font-size: 3rem;
  font-family: calculator;
  line-height: 100%;
  letter-spacing: 6px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.695);
  color: white;
}