@font-face {
  font-family: calculator;
  src: url(../digital-7/digital-7.ttf);
}

.App {
  width: 300px;
  margin: 5em auto;
  border-radius: 20px;
}

.display {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.3em;
  width: 300px;
  font-size: 3rem;
  font-family: calculator;
  direction: rtl;
  line-height: 100%;
  letter-spacing: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}