.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 0.7em;
  font-size: 1.3rem;
}

button:hover {
  background-color: gray;
}

.span-2 {
  grid-column: span 2;
}